html, body {
    margin: 0 auto;
}

.main {
    padding: 20%;
    height: 100vh;
    background-image: url('./main_bg.jpg'); 
    /* image from unsplash */
}

.is-centered {
    align-content: center;
}